


.Users
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin:auto;

  h2
  {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #FF79C6;
  }

}

