
.BurgerMenu
{
  position:absolute;
  right:20px;
  top:20px;

  &__Menu
  {
    width:0;
    height:100vh;
    position:absolute;
    position: fixed;
    background-color: #282A36;
    border-left:2px solid #FFF;
    z-index: 100;
    top:0;
    right: 0;
    animation: MenuSlide 0.4s ease-in-out both;
  }

  input
  {
    display: none;
  }

  label
  {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2010;
  }

  label div
  {
    position: relative;
    top: 0;
    width:30px;
    height: 4px;
    background-color: #f8f8f2;
    margin-bottom: 5px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
    border-radius: 10px;
    z-index: 110;
  }

  label div:first-child {
    transform-origin: 0;
  }

  label div:last-child {
    margin-bottom: 0;
    transform-origin: 60px;
  }

  label div:nth-child(2) {
    right: 0;
  }


  .MenuCheckBox:checked + label div:first-child {
    transform: rotate(45deg);
  }

  .MenuCheckBox:checked + label div:last-child {
    transform: rotate(-46deg) translate(17px, -43px);
  }

  .MenuCheckBox:checked + label div:nth-child(2) {
    width: 30px;
    top: 0;
    transform: rotateZ(-45deg);
    border:1px solid green;
    opacity: 0;
  }

}

@keyframes MenuSlide
{
  0%{width:0;}
  100%{width:100%;}
}
@keyframes MenuSlideReverse
{
  0%{width:100%;}
  100%{width:0;}
}
