

.RootLeDev
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 200px;
  padding-bottom: 200px;

    &__Title
    {
      font-weight: bold;
      text-transform: uppercase;
      color: #FF79C6;
      font-size: 1.4rem;
    }

    &__Presentation
    {
      width:90%;
      padding-top:20px;
      text-align: center;
      p
      {
        margin:10px;
        font-size: 0.88rem;
        line-height: 25px;
      }

      @media (min-width: 500px)
      {
        width: 450px;
      }
    }

    &__Menu
    {
      width:100%;
      border-top:4px solid #FF79C6;
      padding-top:10px;
      margin-top:20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

        nav ul
        {
          display: flex;
          flex-direction: row;

            li
            {
              margin:10px;
            }
        }

      #LinkArticles a
      {
        color: #50FA7B;
      }
      #LinkRealisations a
      {
        color: #F1FA8C;
      }
      #LinkTutos a
      {
        color: #8BE9FD;
      }

      .currentCat
      {
        border-bottom: 2px solid #F8F8F2;
      }
      &__CurrentPath
      {
        padding-top:10px;
        width:100%;
        font-size: 0.7rem;
        color: lightgray;
        margin-bottom: 4px;
        text-align: center;
        padding-left:10px;


        @media (min-width: 1000px) {
          width: 800px;
        }

      }
    }



    &__Main
    {
      width:80%;
      background-color: #F8F8F2;
      color: #44475A;
      padding:20px;
      font-size: 0.8rem;

      @media (min-width: 600px)
      {
        width: 570px;
        padding:30px;
        font-size: 1rem;
      }

      h4
      {
        font-weight: bold;
        margin-bottom: 13px;
      }

      p
      {
        line-height: 25px;

      }
    }


}