
.MenuAdmin,
.MenuAdmin__Item
{
  display: flex;
}

.MenuAdmin
{
  width:80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top:20px;
  border:1px solid red;

  &__Item
  {
    width:120px;
    height:120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #44475A;
    background-color: #F8F8F2;
    margin:10px;
    padding:10px;
    cursor: pointer;
    border:2px solid transparent;


    div
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;

      h2
      {
        font-size: 0.8rem;
        margin-top:4px;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
      }
    }

    i
    {
      font-size: 1.4rem;
      transition: all 0.4s ease-in-out;
    }
    p
    {
      font-size: 0.8rem;
      text-align: center;
    }

    &:hover
    {
      border:2px solid #FF79C6;
    }
    &:hover > div h2,
    &:hover > div i
    {
      color: #FF79C6;
    }
  }

  @media (min-width: 1200px)
  {
    width: 60%;
  }
}
