


.Footer
{
  width:100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a
  {
    color:lightgray;
    font-size: 0.7rem;
    margin:4px;
    cursor: pointer;

    &:hover
    {
      text-decoration: underline;
    }
  }

  @media (min-width: 1200px)
  {
    padding-top: 100px;
  }
}
