
@import "../../Variables.scss";

.Header,
.Header__Menu,
.Header__Social,
.Header__Social__List
{
  display: flex;
}

.Header
{
  width:$Header_Desktop_W;
  height:100vh;
  position:absolute;
  position: fixed;
  left:0;
  top:0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top:50px;
  padding-right: 20px;
  background-color: #282A36;
  border-right: 1px solid #44475A;
  z-index: 10;
}

