

.Error
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  border-radius: 10px;
  background-color: #FF79C6;

  p
  {
    text-align: center;
    font-weight: bold;
    color: #44475A;
  };
}