

.Menu,
.Menu__List
{
  display: flex;
}

.Menu
{
  padding-top:100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height:100vh;

  &__List
  {
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 50px;


    &__Item
    {
      margin-bottom:35px;
      font-weight: bold;
      font-size: 1.6rem;

      a
      {
        transition: color 0.5s ease-in-out;
      }
      a:hover
      {
        color: #FF79C6;
      }

      @media (min-width: 1200px)
      {
        margin-bottom:35px;
        font-size: 1.1rem;
      }
    }
  }
}