
@import "./Variables.scss";

body
{
  box-sizing: border-box;
  width:100%;
  font-family: "Ubuntu", sans-serif;
  color: #F8F8F2;
  background-color: #282A36;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a
{
  text-decoration: none;
  color: #F8F8F2;
}

.Container
{
  width: calc(100% - 320px);
  max-width: calc(100% - 320px);
  height:100vh;
  margin-left:320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top:100px;
}

