
@import "./Variables.scss";

*
{
  box-sizing: border-box;
}
body
{
  width:100%;
  font-family: "Ubuntu", sans-serif;
  color: #F8F8F2;
  background-color: #282A36;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a
{
  text-decoration: none;
  color: #F8F8F2;
}

.Container
{
  width: 100%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:100px;
  padding-bottom: 200px;
  margin:auto;
  z-index: 1;

  @media (min-width: 1200px)
    {
      width: calc(100% - 300px);
      max-width: calc(100% - 300px);
      margin-left:300px;
    }
}

strong
{
  font-weight: bold;
}
em
{
  font-style: italic;
}


