

.RootLeDev__Tutos
{
  width: 80%;
  height: 300px;
  background-color: #F8F8F2;
  color: #44475A;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  text-align: center;
}